name: CD

on:
  release:
    types: [published]
  workflow_dispatch:  # allows manual testing without making a release

jobs:
  build:
    name: Build and Release Prebuilt Binaries
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure & Build Shared Library
        run: |
          cmake -S . -B build
          -DBUILD_SHARED_LIBS=ON
          -DCMAKE_INSTALL_PREFIX=install/shared
          -DCMAKE_BUILD_TYPE=Release
          cmake --build build-shared --config Release
          cmake --install build-shared

      - name: Configure & Build Static Library
        run: |
          cmake -S . -B build-static
          -DCMAKE_INSTALL_PREFIX=install/static
          -DCMAKE_BUILD_TYPE=Release
          cmake --build build-static --config Release
          cmake --install build-static --prefix

      - name: Prepare Prebuilt Package
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            	VERSION="${GITHUB_REF_NAME#v}"
            else
              VERSION="dev-${GITHUB_SHA::7}"
            fi
          OS_NAME=${{ matrix.os }}
          PACKAGE_NAME="mini-sql-$VERSION-$OS_NAME"

          # Clean staging folder
          rm -rf package
          mkdir -p package/lib
          mkdir -p package/include
          mkdir -p package/cmake

          # Copy headers and CMake configs (shared build is enough)
          cp -r install/shared/include/* package/include/
          cp -r install/shared/cmake/* package/cmake/

          # Copy shared libs
          cp -r install/shared/lib/* package/lib/ || true

          # Copy static libs into same lib folder
          cp -r install/static/lib/*.a package/lib/ || true

          # Copy license/docs
          cp LICENSE package/ || true
          cp README.md package/ || true

          # Package archive
          if [ "$OS_NAME" = "windows-latest" ]; then
            ARCHIVE_NAME="$PACKAGE_NAME.zip"
            powershell Compress-Archive -Path package\* -DestinationPath "$ARCHIVE_NAME"
          else
            ARCHIVE_NAME="$PACKAGE_NAME.tar.gz"
            tar -czf "$PACKAGE_NAME" -C package .
          fi

          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV
          
      - name: Upload for testing
        uses: actions/upload-artifact@v4
        with:
          name: prebuilt-binaries
          path: ${{ env.ARCHIVE_NAME }}

      - name: Upload Prebuilt Archive
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.ARCHIVE_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}